{{>layout/header}}


<h1>
    Book Review
</h1>

<div class="col-md-4" >

    <a href="/bookshelf" role="button" class="btn btn-secondary">cancel</a>
    <p><table class="table table-horizontal table-bordered" align="left" width="300" >
        <thead class="thead-strong" align="left">
        <tr>
            <th><center>{{posts.id}}</center></th>
            <th><center>{{posts.bookTitle}}</center></th>
        </tr>
        </thead>
    </table> </p>

</div>
<div class="col-md-8">
    <p><table class="table table-horizontal table-bordered"align="left" width="400">
    <thead class="thead-strong" align="right">

        <th><center>{{posts.author}}</center></th>
        <th><center>{{posts.publisher}}</center></th>
        <th><center>{{posts.category}}</center></th>

    </thead>
</table></p>
</div>
<p><div class="col-md-12" align="middle">
       <textarea readonly rows="10" style="width:100%" onresize="none">{{posts.review}}</textarea>

</div></p>
<div class="col-md-12" align="right" style="style=position:absolute; right:0px; bottom:0px;">

    <a href="/bookshelf/update/{{posts.id}}" role="button" class="btn btn-primary" >update</a>


</div>


{{>layout/footer}}