{{>layout/header}}

<h1>Register</h1>
<div class="col-md-12" align="middle">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="bookTitle">책 제목</label>
                <input type="text" class="form-control"
                       id="bookTitle" placeholder="책 제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="author">저자</label>
                <input type="text" class="form-control"
                       id="author" placeholder="저자를 입력하세요">
            </div>
            <div class="form-group">
                <label for="publisher">출판사</label>
                <input type="text" class="form-control"
                       id="publisher" placeholder="출판사를 입력하세요">
            </div>
            <div class="form-group">
                <label for="category">카테고리</label>
                <select name="category">
                    <option value="문학">문학</option>
                    <option value="경제">경제</option>
                    <option value="자기계발">자기계발</option>
                    <option value="과학">과학</option>
                    <option value="인문">인문</option>
                </select>
            </div>
            <div class="form-group">
                <label for="review">후기</label>
                <textarea class="form-control" id="review" style="width 50%" placeholder="후기를 입력하세요"></textarea>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-save">register</button>
    </div>
</div>

{{>layout/footer}}